@model WebStore_geekbrains.Models.PersonalComputerViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Processor</td>
        <td>@Model.Processor</td>
    </tr>
    <tr>
        <td>Ram</td>
        <td>@Model.Ram</td>
    </tr>
    <tr>
        <td>Сapacity</td>
        <td>@Model.Сapacity</td>
    </tr>
</table>

@Html.ActionLink("← go to list", "Index")